# markdown
## markdown
### markdown
#### markdown
##### markdown
##### markdown
###### markdown
#######

* *text*
* **text**
* ***text***

-heading
    -subtext
    -subtext

-heading
    - subtext
    - subtext

![image](https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-photo%2Fmountains-during-sunset-beautiful-natural-260nw-407021107.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fcategory%2Fnature&docid=LlgDpz1LoiuznM&tbnid=wW5BhncqphFQ0M%3A&vet=10ahUKEwizw9DO0pjmAhVWbn0KHQ8vBaAQMwh5KAAwAA..i&w=435&h=280&safe=active&bih=789&biw=1440&q=images&ved=0ahUKEwizw9DO0pjmAhVWbn0KHQ8vBaAQMwh5KAAwAA&iact=mrc&uact=8)

![image]()

![amrutha]()

[text](https://drive.google.com/drive/my-drive)

![m](https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg)

In [2]:
print('hello')

hello

In [3]:
print("print")

print

In [4]:
print("hello world",end="***")
print("hii")

hello world***hii

In [5]:
print('hello',end='    ')
print('hi')

hello    hi

In [6]:
a1=10

In [11]:
a1=10
print(a1)

10

In [12]:
*_*=10
print(*_*)

SyntaxError: invalid syntax (<ipython-input-12-c80984069099>, line 2)

In [13]:
_=10
print(_)

10

In [14]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [15]:
a=b=c
print(a,b,c)

3 3 3

In [16]:
a=b=c=6
print(a,b,c)

6 6 6

In [17]:
a="python"
b="p"
print(a,b)

python p

In [18]:
a=12.8
type(a)

float

In [19]:
a=31.7
print(type(a))
id(a)

<class 'float'>

63407920

In [22]:
a=10
b=10
print(id(a),id(b))

1645136176 1645136176

In [24]:
a=b=c==1
print(a,b,c)

False False 6

In [25]:
a,b,c==1
print(a,b,c)

False False 6

In [26]:
p,q,r==1
print(p,q,r)

NameError: name 'p' is not defined

In [27]:
p,q,r==1
print(p)

NameError: name 'p' is not defined

In [37]:
p=q=r=1
print(p,q,r)

1 1 1

In [34]:
name="GITAM"
age=9
print("my name is",name,"and my age is",age)

my name is GITAM and my age is 9

In [38]:
a=b=12

In [39]:
a

12

In [40]:
b

12

In [43]:
c = int(input("enter a number"))
type(c)

enter a number1233

int

In [44]:
 d = float(input("enter a number"))
type(d)

enter a number12

float

In [47]:
a = int(input("no1 "))
b = int(input("no2 "))
c = float(input("no3 "))
d = a+b+c
print("sum is",d)
e = a*b*c
print("product is",e)

no1 1
no2 5
no3 2
sum is 8.0
product is 10.0

In [60]:
a = int(input("no1 "))
b = int(input("no2 "))
f = b/a
print(f)
g = b%a
print(g)

no1 5
no2 10
2.0
0

In [50]:
z=2+3j
type(z)

complex

In [52]:
z = 2+3j
type(z)

complex

In [53]:
z=2+3j
type(z)
print(type(z))

<class 'complex'>

In [54]:
y=float(45)

In [55]:
y

45.0

In [56]:
y=complex(2,3)

In [57]:
y

(2+3j)

In [58]:
c1=2+3j
c2=1+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+8j)
(1-2j)
(-13+13j)

In [61]:
a=True
type(a)

bool

In [62]:
b=False
type(a)

bool

In [63]:
a>b

True

In [64]:
s1="abc"
s2='ans'

In [65]:
s1

'abc'

In [66]:
s2

'ans'

In [67]:
s3=str(100)
type(s3)

str

In [68]:
d=int(173.5)
type(d)

int

In [69]:
s="100"
type(s)

str

In [70]:
o=int(s)
type(o)

int

In [71]:
g=1.5
type(g)

float

In [73]:
p=int(g)
type(p)

int

In [77]:
a='1234'
len(a)

4

In [78]:
a="12345"
len(a)

5

In [80]:
a=20
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

30
10
200
2.0
0
2
10240000000000

In [81]:
u=10
g=3
print(u//g)

3

In [82]:
12/5

2.4

In [83]:
12//5

2

In [85]:
a=0
b=0
print(a and b)
print(a or b)

0
0

In [86]:
a=0
b=1
print(a and b)
print(a or b)

0
1

In [87]:
a=0
b=1
print(a and b)
print(a or b)

0
1

In [88]:
a=1
b=1
print(a and b)
print(a or b)

1
1

In [89]:
x=2
y=3
print(x>=5 and x<10)
print(x>=5 or x<=10)

False
True

In [90]:
print(not(x))

False

In [91]:
x=8
y=5
print(x==y)
print(x!=y)
print(x<=y)
print(x>=y)
print(x>y)
print(x<y)

False
True
False
True
True
False

In [92]:
str='abc'
print('a' in str)
print('a' not in str)

True
False

In [93]:
str='abc'
print('f' in str)
print('g' not in str)

False
True

In [96]:
a = int(input("number"))
if a>0:
    print('+')
else:
    print('-')

number45
+

In [97]:
a = int(input("number"))
if a>0:
    print('+')
else:
    print('-')

number-4
-

In [98]:
a = int(input("number"))
if a>0:
    print('+')
else:
    print('-')

number0
-

In [99]:
a = int(input("number"))
if a>0:
    print('+')
elif a<0:
    print('-')
else:
    print('zero')

number5
+

In [100]:
a = int(input("number"))
if a>0:
    print('+')
elif a<0:
    print('-')
else:
    print('zero')

number-8
-

In [101]:
a = int(input("number"))
if a>0:
    print('+')
elif a<0:
    print('-')
else:
    print('zero')

number0
zero

In [102]:
a=10
if a>0:
    print("positive")

positive

In [103]:
pwd

'C:\\Users\\student'